/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #f7a700 #0a0a0a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #0a0a0a;
}

*::-webkit-scrollbar-thumb {
  background-color: #f7a700;
  border-radius: 0px;
  border: 3px none #0a0a0a;
}

html, body {
  @apply ml-4 bg-zinc-100 text-slate-900 font-body font-light text-base;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display;
}